<% if book.favorited_by?(user) %>
  <div class="before-favorite">
    <%= link_to book_favorites_path(book), method: :delete,class:"text-danger", remote: true do %>
      <i class="fas fa-heart"></i><%= book.favorites.count %>
    <% end %>
  </div>
<% else %>
  <div class="after-favorite">
    <%= link_to book_favorites_path(book), method: :post, class:"text-secondary",remote: true do %>
      <i class="far fa-heart"></i><%= book.favorites.count %>
    <% end %>
  </div>
<% end %>