<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render "layouts/user_info", user: current_user %>
      <%= render "layouts/new_book", new_book: @new_book %>
    </div>
  <%= render "users/user_index", users: @users %>
  </div>
</div>
